body {
  max-width: 1440px;
  margin: auto;
  padding: 0;
  background: #e6e2e2;
  font-family: "Poppins", sans-serif;
}

li,
a {
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}

.mylogo {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #6070ff;
  list-style: none;
}

.nav__links,
li {
  display: inline-block;
  padding: 0 20px;
}

.nav__links {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  align-items: center;
}

.landingpagecard {
  min-height: 916px;
  border-radius: 0 0 0 100px;
  background-color: #fff;
}

.backgroundimage {
  background-image: url("./images/Header\ bg@2x.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  top: 1px;
}

.content {
  margin-left: 260px;
  margin-right: 260px;
  padding-top: 200px;
}

.welcometext {
  letter-spacing: 0.37px;
  color: #091e42;
  font-size: 48px;
  font-weight: bold;
  height: 122px;
  line-height: 60px;
}

.welcome-para-1 {
  color: #344563;
  font-size: 20px;
  line-height: 28px;
  justify-content: space-between;
}

.letsconnect {
  color: #7f8cff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.social-icons {
  display: flex;
  margin-left: -60px;
  padding-bottom: 150px;
}

.social-icons a {
  font-size: 24px;
  padding-right: -10px;
}

.social-icons i {
  color: #505f79;
}
